services:
  ollama-engine:
    image: ollama/ollama:latest
    container_name: kusabot-ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    
    entrypoint: [ "/bin/sh", "-c", "ollama serve & sleep 10 && ollama pull llama3.2:1b && wait" ]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  backend:
    build: ./backend
    container_name: kusabot-api
    depends_on:
      - ollama-engine
    volumes:
      - ./backend:/app
      - ./backend/data:/app/data
    ports:
      - "8001:8001"
    environment:
      - OLLAMA_BASE_URL=http://ollama-engine:11434
      - DEFAULT_MODEL=llama3.2:1b

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8001
    depends_on:
      - backend

volumes:
  ollama_data: